* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root {
    --text-pink: #f79f8f;
    --border-red: #fa5f64;
    --text-white: #fff;
    --text-gray: #949494;
}
.upper {
    text-transform: uppercase;
}
.d-f {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.container {
    width: 1200px;
}
.container-fluid {
    width: 1140px;
    margin: auto;
}
.header__nav ul li {
    display: inline-block;
}
.header__nav ul li a {
    display: block;
    text-decoration: none;
    padding: 20px 25px;
    text-align: center;
    font-weight: 200;
    color: var(--text-gray);
}
.header__nav ul li a:hover {
    width: 100%;
    color: var(--text-pink);
    border-bottom: 1px solid;
    transition: 0.4s;
}
